{% load staticfiles %}
<html>
  <head>
    <title>Personality Perception Questionnaire</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
    <div class="container-fluid">

      <div class="col-xs-12 page-header">
        <h1> Personality Perception Questionnaire <h1>
      </div>

      <div class="col-xs-12 content">

        <div class="row">
          <div class="col-xs-12 content">
            <video width="80%" controls>
              <source src="mov_bbb.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 content">
            O quao extrovertido e a pessoa do video?
          </div>
          <div class="col-xs-12 content extra-space">
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 5
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 content">
            O quao neurocetico e a pessoa do video?
          </div>
          <div class="col-xs-12 content extra-space">
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 5
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 content">
            O quao amigavel e a pessoa do video?
          </div>
          <div class="col-xs-12 content extra-space">
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 3
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio">Option 5
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-offset-10 col-xs-2 content">
              <button type="button" class="btn btn-secondary btn-sm">Next</button>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
